@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, .font-serif {
  font-family: 'Playfair Display', serif;
}

/* Animasi sederhana saat hover menu */
.group:hover shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(126, 172, 181, 0.3);
}